<!-- inscription.html -->
{% extends 'commun/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">Rendez-vous</h1>
          <form method="POST" class="row g-3">
            {% csrf_token %}
            <div class="col-md-6">
              <label class="form-label" for="nom_utilisateur">Nom d'utilisateur</label>
              <input type="text" id="nom_utilisateur" class="form-control form-control-lg" name="nom_utilisateur"
                placeholder="Nom d'utilisateur" value="{{ user.username }}" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="date">Date</label>
              <input type="date" id="date" class="form-control form-control-lg" name="date"
                placeholder="Date" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="email">Email</label>
              <input type="text" id="email" class="form-control form-control-lg" name="email"
                placeholder="Email"/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="heure">Heure</label>
              <input type="time" id="heure" class="form-control form-control-lg" name="heure"
                placeholder="Heure" />
            </div>
            
            <div class="col-md-6">
              <label class="form-label" for="lieu">Ville</label>
              <input type="text" id="lieu" class="form-control form-control-lg" name="lieu"
                placeholder="Ville" />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="commentaire">Commentaire</label>
              <textarea id="commentaire" class="form-control form-control-lg" name="commentaire"
                placeholder="Insérez un commentaire"></textarea>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="tel">Téléphone</label>
              <input type="tel" id="tel" class="form-control form-control-lg" name="tel"
                pattern="[0-9]{10}" placeholder="Téléphone" required />
            </div>
            
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
